#birinci{
    background-color: red;
    font-size: 35px;
    
}
#ikinci{
    background-color: black;
    
    
}
.butunluk{
    color: #ffff;
}
#hepsi{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 100%;
    margin: auto;
}